header {
    margin: 0 6em;
} 

.top-nav {
    display: flex;
    justify-content: space-between;
    height: 4rem;
}

.top-nav__primary-nav {
    display: flex;
    align-items: center;
}

.top-nav__account {
    align-items: center;
    display: flex;
}

.top-nav__ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.top-nav__li {
    margin-left: 3rem;

}

.top-nav__a {
    text-decoration: none;
    font-size: .9em;
    color: #303030;
    font-weight: 500;
}

.top-nav__logo {
    height: 2rem;
    width: auto;
    display: flex;
    align-items: center;
}
