@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 750px;
  margin: auto;
  margin-top: 5%;
}

h2 {
  font-weight: 400;
}

.datatable {
  margin-top: 5%;
  width: 100%;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
}

.datatable th {
  padding: .9rem;
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
}

.datatable td {
  padding: .9rem;
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
}

.datatable tr {
  border-bottom: 1px solid lightslategray
}

.datatable a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}